Dimmer-Switches/Subflow-Philips-Hue-Dimmer-Switch.json
[
    {
        "id": "1657dbf72d7dcf1c",
        "type": "subflow",
        "name": "Philips Hue Remote (v1)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 460,
                "wires": [
                    {
                        "id": "62c606ebe8c6deef"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 810,
                "y": 100,
                "wires": [
                    {
                        "id": "62c606ebe8c6deef",
                        "port": 0
                    }
                ]
            },
            {
                "x": 810,
                "y": 140,
                "wires": [
                    {
                        "id": "62c606ebe8c6deef",
                        "port": 1
                    }
                ]
            },
            {
                "x": 820,
                "y": 180,
                "wires": [
                    {
                        "id": "62c606ebe8c6deef",
                        "port": 2
                    }
                ]
            },
            {
                "x": 820,
                "y": 220,
                "wires": [
                    {
                        "id": "62c606ebe8c6deef",
                        "port": 3
                    }
                ]
            },
            {
                "x": 810,
                "y": 300,
                "wires": [
                    {
                        "id": "62c606ebe8c6deef",
                        "port": 4
                    }
                ]
            },
            {
                "x": 810,
                "y": 340,
                "wires": [
                    {
                        "id": "62c606ebe8c6deef",
                        "port": 5
                    }
                ]
            },
            {
                "x": 820,
                "y": 380,
                "wires": [
                    {
                        "id": "62c606ebe8c6deef",
                        "port": 6
                    }
                ]
            },
            {
                "x": 820,
                "y": 420,
                "wires": [
                    {
                        "id": "62c606ebe8c6deef",
                        "port": 7
                    }
                ]
            },
            {
                "x": 810,
                "y": 500,
                "wires": [
                    {
                        "id": "62c606ebe8c6deef",
                        "port": 8
                    }
                ]
            },
            {
                "x": 810,
                "y": 540,
                "wires": [
                    {
                        "id": "62c606ebe8c6deef",
                        "port": 9
                    }
                ]
            },
            {
                "x": 820,
                "y": 580,
                "wires": [
                    {
                        "id": "62c606ebe8c6deef",
                        "port": 10
                    }
                ]
            },
            {
                "x": 820,
                "y": 620,
                "wires": [
                    {
                        "id": "62c606ebe8c6deef",
                        "port": 11
                    }
                ]
            },
            {
                "x": 810,
                "y": 700,
                "wires": [
                    {
                        "id": "62c606ebe8c6deef",
                        "port": 12
                    }
                ]
            },
            {
                "x": 810,
                "y": 740,
                "wires": [
                    {
                        "id": "62c606ebe8c6deef",
                        "port": 13
                    }
                ]
            },
            {
                "x": 820,
                "y": 780,
                "wires": [
                    {
                        "id": "62c606ebe8c6deef",
                        "port": 14
                    }
                ]
            },
            {
                "x": 820,
                "y": 820,
                "wires": [
                    {
                        "id": "62c606ebe8c6deef",
                        "port": 15
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "inputLabels": [
            "Remote Press Events"
        ],
        "outputLabels": [
            "Button 1 - (1000) - Short Press",
            "Button 1 - (1001) - Long Press",
            "Button 1 - (1002) - Short Release",
            "Button 1 - (1003) - Long Release",
            "Button 2 - (2000) - Short Press",
            "Button 2 - (2001) - Long Press",
            "Button 2 - (2002) - Short Release",
            "Button 2 - (2003) - Long Release",
            "Button 3 - (3000) - Short Press",
            "Button 3 - (3001) - Long Press",
            "Button 3 - (3002) - Short Release",
            "Button 3 - (3003) - Long Release",
            "Button 4 - (4000) - Short Press",
            "Button 4 - (4001) - Long Press",
            "Button 4 - (4002) - Short Release",
            "Button 4 - (4003) - Long Release"
        ],
        "icon": "node-red/feed.svg"
    },
    {
        "id": "62c606ebe8c6deef",
        "type": "switch",
        "z": "1657dbf72d7dcf1c",
        "name": "Philips Hue Remote (v1)",
        "property": "payload.event.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1000",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1001",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1002",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1003",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2000",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2001",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2002",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2003",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3000",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3001",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3002",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3003",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4000",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4001",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4002",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4003",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 16,
        "x": 310,
        "y": 460,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    }
]
