Dimmer-Switches/Subflow-Philips-Hue-Button.json
[
    {
        "id": "f5ca8a5783dea76f",
        "type": "subflow",
        "name": "Philips Hue Button Switch",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 400,
                "wires": [
                    {
                        "id": "b81ac8b9a419e0f0"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 620,
                "y": 280,
                "wires": [
                    {
                        "id": "b81ac8b9a419e0f0",
                        "port": 0
                    }
                ]
            },
            {
                "x": 660,
                "y": 360,
                "wires": [
                    {
                        "id": "b81ac8b9a419e0f0",
                        "port": 1
                    }
                ]
            },
            {
                "x": 630,
                "y": 440,
                "wires": [
                    {
                        "id": "b81ac8b9a419e0f0",
                        "port": 2
                    }
                ]
            },
            {
                "x": 620,
                "y": 520,
                "wires": [
                    {
                        "id": "b81ac8b9a419e0f0",
                        "port": 3
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DEB887",
        "inputLabels": [
            "Switch Press Events"
        ],
        "outputLabels": [
            "Button - 1000 - Short Press",
            "Button - 1001 - Long Press (Repeating)",
            "Button - 1002 - Short Release",
            "Button - 1003 - Long Release"
        ],
        "icon": "node-red/feed.svg"
    },
    {
        "id": "b81ac8b9a419e0f0",
        "type": "switch",
        "z": "f5ca8a5783dea76f",
        "name": "Philips Hue Button Switch",
        "property": "payload.event.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1000",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1001",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1002",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1003",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 270,
        "y": 400,
        "wires": [
            [],
            [],
            [],
            []
        ]
    }
]
